<% extend('admin_base') %>
<div class="content mb-20">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/backend/quillEditor_admin.css"/>
	<div class="loading-screen">
		<img class="mb-20" src="/project_img/spinner.gif" alt="">
		Bild lädt hoch...
	</div>
	<%if (typeof section === 'undefined') { %>
		<form action="" name="form1" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<% if(typeof error !== 'undefined') { %>
						<label class="input-label_error  --error" for="name"><%= error %></label>
					<% } %>
					<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
					<input class="input validate-me-js" type="text" name="name" placeholder=" " onchange="validateField(this)">
					<label class="input-label" for="name">Titel</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<label class="input-label_error" for="shortdescription">Dies ist ein Pflichtfled</label>
				<textarea name="shortdescription" class="input --textarea validate-me-js" max-length="200" placeholder=" " onchange="validateField(this)"></textarea>
				<label class="input-label" for="shortdescription">Kurzbeschreibung (Max: 200)</label>
			</div>
			<div class="form-group mb-40">
				<input name="description" type="hidden">
				<div class="scrolling-container">
					<div id="editor-container"></div>
				</div>
			</div>
			<% if(taskinstances.length > 0) { %>
			<div class="form-group-col-2">
				<div>
					<div class="form-group">
						<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
						<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Taskinstance suchen...</label>
					</div>
					<p class='mt-20'>Taskinstance Name (Autoinkrement)</p>
					<div class="input-list mb-50 mt-10">
						<% for(var i = 0; i<taskinstances.length; i++) { %>
							<label class="checkbox-group" for="<%= taskinstances[i]._id %>">
								<input class="objectCheckbox" onchange="displayObject(this)" type="checkbox" name="taskinstance" id="<%= taskinstances[i]._id %>" value="<%= taskinstances[i]._id %>">
								<label class="code-label list-value" for="<%= taskinstances[i]._id %>"><%= taskinstances[i].taskInstance_number %>. <%= taskinstances[i].name %> (<%= taskinstances[i].taskinstance_inc %>)</label>
							</label>
						<% } %>
					</div>
				</div>
				<div>
					Ausgewählte Objekte:
					<ul class="selectedObjectsList mt-10"></ul>
				</div>
			</div>
			<% } else { %>
				<p>Leider gibt es keine Task Instanzen die Sie auswählen können</p>
			<% } %>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } else { %>
		<form action="" method="POST" name="form1">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<% if(typeof error !== 'undefined') { %>
						<label class="input-label_error  --error" for="name"><%= error %></label>
					<% } %>
					<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
					<input class="input validate-me-js" type="text" name="name" value="<%= section.name %>" placeholder=" " onchange="validateField(this)">
					<label class="input-label" for="name">Titel</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<label class="input-label_error" for="shortdescription">Dies ist ein Pflichtfled</label>
				<textarea class="input --textarea validate-me-js" name="shortdescription" max-length="200" placeholder=" " onchange="validateField(this)"><%- section.shortdescription %></textarea>
				<label class="input-label" for="shortdescription">Kurzbeschreibung (Max: 200)</label>
			</div>
			<div class="form-group mb-40">
				<label class="input-label_error" for="description">Dies ist ein Pflichtfled</label>
				<input name="description" type="hidden" class="validate-me-js">
				<div class="scrolling-container">
					<div id="editor-container"><%- section.description %></div>
				</div>
			</div>
			<% if(taskinstances.length > 0) { %>
				<div class="form-group-col-2">
					<div>
						<div class="form-group">
							<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
							<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Taskinstance suchen...</label>
						</div>
						<p class='mt-20'>Taskinstance Name (Autoinkrement)</p>
						<div class="input-list mb-50 mt-10">
							<% for(var i = 0; i<taskinstances.length; i++) { %>
								<label class="checkbox-group" for="<%= taskinstances[i]._id %>">
									<input class="objectCheckbox" onchange="displayObject(this)" type="checkbox" name="taskinstance" id="<%= taskinstances[i]._id %>" value="<%= taskinstances[i]._id %>" <% if(taskinstances[i].checked) { %> checked <% } %>>
									<label class="code-label list-value" for="<%= taskinstances[i]._id %>"><%= taskinstances[i].taskInstance_number %>. <%= taskinstances[i].name %> (<%= taskinstances[i].taskinstance_inc %>)</label>
								</label>
							<% } %>
						</div>
					</div>
					<div>
						Ausgewählte Objekte:
						<ul class="selectedObjectsList mt-10"></ul>
					</div>
				</div>
			<% } else { %>
				<p>Leider gibt es keine Task Instanzen die Sie auswählen können</p>
			<% } %>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } %>
	<script src="/js/admin_form.bundle.js"></script>
	<script src="/js/quill_setUp.bundle.js"></script>
	<script src="/js/validate_form.bundle.js"></script>
</div>


