<% extend('admin_base') %>
	<div class="content mb-20">
		<a class="btn mb-20" href="/admin/sectioninstance/create">Erstelle neue Section-Instanz</a>
		<p class="mb-20">Alle sich in der Datenbank befindenen Section Instanzen:</p>
		<div class="form-group mb-20">
			<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
			<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Section-Instanz suchen</label>
		</div>
		<% if(sectioninstance_list.length > 0) { %>
			<table>
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Ordnername (+ Autoinkrement)</th>
				</tr>
				<% for(var i = 0; i<sectioninstance_list.length; i++) { %>
					<tr class="detail-list-row">
						<td class="table-cell">
							<%= sectioninstance_list[i].sectionInstance_number %>
						</td>
						<td class="table-cell">
							<a href="<%=sectioninstance_list[i].url %>" class="object-value"><%= sectioninstance_list[i].name %></a>
						</td>
						<td class="table-cell">
							<%= sectioninstance_list[i].path_name %><%= sectioninstance_list[i].sectioninstance_inc %>
						</td>
					</tr>
				<% } %>
		<% } else { %>
			<p>Leider sind noch keine Section Instanzen in der Datenbank</p>
		<% } %>
	</div>
	<script src="/js/admin_searchListOverview.bundle.js"></script>