<% extend('admin_base') %>
	<div class="content mb-100">
		<link rel="stylesheet" type="text/css" href="/css/backend/quillEditor_admin.css"/>
		<p><strong>Ordnername in Dateisystem: </strong></p>
		<p class="mb-20"><%= section.path_name %><%= section.section_inc %></p>
		<p><strong>Section Nummer: </strong></p>
		<p class="mb-20"><%= section.section_number %></p>
		<p><strong>Section Name: </strong></p>
		<p class="mb-20"><%= section.name %></p>
		<p><strong>Kurzbeschreibung: </strong></p>
		<div class="mb-20">
			<p><%- section.shortdescription %></p></div>
		<p class="mb-20"><strong>Section Description: </strong></p>
		<div class="mb-20 code-editor"><%- section.description %></div>
		<%if(section !== null) { %>
			<p class="mt-20"><strong>Hierachie:</strong></p>
			<%if(sectioninstance.length) { %>
				<ol class="with-out-decimal --pl">
					<% for(let i = 0; i<sectioninstance.length; i++) { %>
						<li>
							<strong><%= sectioninstance[i].sectionInstance_number %>. Sectioninstance</strong>
							<a href="<%= sectioninstance[i].url %>"><%= sectioninstance[i].name %></a>

						</li>
					<% } %>
				</ol>
			<% } %>
			<ol class="mb-20 with-out-decimal">
				<li>
					<strong><%= section.section_number %> <% if( section.section_number ) { %>. <% } %> Section</strong> <%= section.name %> (<%= section.path_name %><%= section.section_inc %>)
				</li>
				<%if(section.taskinstance !== null && section.taskinstance.length > 0) { %>
					<ol class="with-out-decimal order-list --section drag-sort-enable" data-listid="<%= section._id %>">
						<% for(var i = 0; i<section.taskinstance.length; i++) { %>
							<li class="order-list-item" data-listitemid = "<%= section.taskinstance[i]._id %>">
								<strong class="object-number"><%= section.taskinstance[i].taskInstance_number %></strong><strong>. Taskinstanz:</strong> 
								<a href="<%= section.taskinstance[i].url %>"><%= section.taskinstance[i].name%></a> 
								(<%= section.taskinstance[i].path_name %><%= section.taskinstance[i].taskinstance_inc %>)
								<ol class="with-out-decimal">
									<% if(section.taskinstance[i].task !== null) { %>
										<% for(var j = 0; j<section.taskinstance[i].task.length; j++) { %>
											<li><strong><%= section.taskinstance[i].task[j].task_number %>. Task:</strong> <a href="<%= section.taskinstance[i].task[j].url %>"><%= section.taskinstance[i].task[j].name %> </a> (<%= section.taskinstance[i].task[j].path_name %><%= section.taskinstance[i].task[j].task_inc %>)</li>
										<% } %>	
									<% } %>
								</ol>
							</li>
						<% } %>
					</ol>
				<% } else {%>
					<p>Dieser Section wurde noch keine Taskinstance zugewiesen</p>
				<% } %>
			</ol>
		<% } else { %>
			<p class="mb-20">Diese Instanz hat keine zugehörigen Sections</p>
		<% } %>
		<a class="btn" href="<%= section.url%>/update">Update Section</a>
		<a class="btn" href="<%= section.url%>/delete">Delete Section</a>
	</div>
	<script src="/js/admin_index.bundle.js"></script>