<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<%if (typeof taskinstance === 'undefined') { %>
	<div class="content mb-20">
		<form action="" method="POST" name="form1">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<% if(typeof error !== 'undefined') { %>
						<label class="input-label_error  --error" for="task_number"><%= error %></label>
					<% } %>
					<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
					<input class="input validate-me-js" type="text" name="name" placeholder=" " onchange="validateField(this)">
					<label class="input-label" for="name">Titel*</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital HTML Code</span>
				<textarea class="input --textarea html-codearea --input" name="htmlCode_inital" placeholder=" "></textarea>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital CSS Code</span>
				<textarea class="input --textarea css-codearea --input" name="cssCode_inital" placeholder=" "></textarea>
			</div>
			<div class="form-group-col-2">
				<div>
					<div class="form-group">
						<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
						<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Task Suchen</label>
					</div>
					<p class='mt-20'>Task Name (Autoinkrement)</p>
					<div class="input-list mb-50 mt-10">
						<% for(var i = 0; i<tasks.length; i++) { %>
							<label class="checkbox-group" for="<%= tasks[i]._id %>">
								<input class="objectCheckbox" onchange="displayObject(this)" type="checkbox" name="task" id="<%= tasks[i]._id %>" value="<%= tasks[i]._id %>">
								<label class="code-label list-value" for="<%= tasks[i]._id %>"><%= tasks[i].task_number %>. <%= tasks[i].name %> (<%= tasks[i].task_inc %>)</label>
							</label>
						<% } %>
					</div>
				</div>
				<div>
					Ausgewählte Objekte:
					<ul class="selectedObjectsList mt-10">
					</ul>
				</div>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	</div>
<% } else { %>
	<div class="content mb-20">
		<form action="" method="POST" name="form1">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<% if(typeof error !== 'undefined') { %>
						<label class="input-label_error  --error" for="task_number"><%= error %></label>
					<% } %>
					<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
					<input class="input validate-me-js" type="text" name="name" placeholder=" " value="<%= taskinstance.name %>" onchange="validateField(this)">
					<label class="input-label" for="name">Titel</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital HTML Code</span>
				<textarea class="input --textarea html-codearea --input" name="htmlCode_inital" placeholder=" "><%= taskinstance.htmlCode_inital %></textarea>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital CSS Code</span>
				<textarea class="input --textarea css-codearea --input" name="cssCode_inital" placeholder=" "><%= taskinstance.cssCode_inital %></textarea>
			</div>
			<div class="form-group-col-2">
			<div>
				<div class="form-group">
					<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
					<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Task Suchen</label>
				</div>
				<p class='mt-20'>Task Name (Autoinkrement)</p>
				<div class="input-list mb-50 mt-10">
					<% for(var i = 0; i<tasks.length; i++) { %>
						<label class="checkbox-group" for="<%= tasks[i]._id %>">
							<input class="objectCheckbox" onchange="displayObject(this)" type="checkbox" name="task" id="<%= tasks[i]._id %>" <% if(tasks[i].checked) { %> checked <% } %> value="<%= tasks[i]._id %>">
							<label class="code-label list-value" for="<%= tasks[i]._id %>"><%= tasks[i].task_number %>. <%= tasks[i].name %> (<%= tasks[i].task_inc %>)</label>
						</label>
					<% } %>
				</div>
			</div>
			<div>
				Ausgewählte Objekte:
				<ul class="selectedObjectsList mt-10"></ul>
			</div>
		</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	</div>
<% } %>
<script src="/js/admin_form.bundle.js"></script>
<script src="/js/validate_form.bundle.js"></script>
<script src="/js/admin_codeMirror.bundle.js"></script>
