<% extend('admin_base') %>
	<div class="content mb-50">
		<link rel="stylesheet" type="text/css" href="/css/backend/quillEditor_admin.css"/>
		<p><strong>Funktionsname in Dateisystem: </strong></p>
		<p class="mb-20"><%= task.path_name %><%= task.task_inc %></p>
		<p><strong>Task Nummer: </strong></p>
		<p class="mb-20"><%= task.task_number %></p>
		<p><strong>Task Name: </strong></p>
		<p class="mb-20"><%= task.name %></p>
		<p><strong>Task Description: </strong></p>
		<div class="mb-20 code-editor" ><%- task.description %></div>
		<%if(taskinstance.length) { %>
			<p><strong>Dieser Task wird von folgender Taskinstance benutzt: </strong></p>
			<ol class="with-out-decimal --pl mb-40">
				<% for(let i = 0; i<taskinstance.length; i++) { %>
					<li>
						<strong><%= taskinstance[i].taskInstance_number %> <%if(taskinstance[i].taskInstance_number) { %>. <% }  %> Taskinstance</strong>
						<a href="<%= taskinstance[i].url %>"><%= taskinstance[i].name %> (<%= taskinstance[i].path_name %><%= taskinstance[i].taskinstance_inc %>)</a>
					</li>
				<% } %>
			</ol>
		<% } %>
		<a class="btn" href="<%= task.url%>/update">Update Task</a>
		<a class="btn" href="<%= task.url%>/delete">Delete Task</a>
	</div>