<% extend('admin_base') %>
	<div class="content mb-20">
		<a class="btn mb-20" href="/admin/taskinstance/create">Erstelle neue Task-Instanz</a>
		<p class="mb-20">Alle sich in der Datenbank befindenen Taskinstanzen:</p>
		<div class="form-group mb-20">
			<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
			<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Taskinstanz suchen</label>
		</div>
		<% if(taskinstance_list.length > 0) { %>
			<table>
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Dateiname (+ Autoinkrement)</th>
				</tr>
				<% for(var i = 0; i<taskinstance_list.length; i++) { %>
					<tr class="detail-list-row">
						<td class="table-cell">
							<%= taskinstance_list[i].taskInstance_number %>
						</td>
						<td class="table-cell">
							<a href="<%=taskinstance_list[i].url %>" class="object-value"><%= taskinstance_list[i].name %></a>
						</td>
						<td class="table-cell">
							<%= taskinstance_list[i].path_name %><%= taskinstance_list[i].taskinstance_inc %>
						</td>
					</tr>
				<% } %>
		<% } else { %>
			<p>Leider sind noch keine Taskinstancen in der Datenbank</p>
		<% } %>
	</div>
	<script src="/js/admin_searchListOverview.bundle.js"></script>