<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<div class="content mb-100">
	<p><strong>Ordername in Dateisystem: </strong></p>
	<p class="mb-20"><%= taskinstance.path_name %><%= taskinstance.taskinstance_inc %></p>
	<p><strong>Task Instance Nummer: </strong></p>
	<p class="mb-20"><%= taskinstance.taskInstance_number %></p>
	<p><strong>Task Instance Name: </strong></p>
	<p class="mb-20"><%= taskinstance.name %></p>
	<p><strong>Inital HTML Code: </strong></p>
	<textarea class="input --textarea html-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.htmlCode_inital %></textarea>
	<p class="mt-20"><strong>Inital Css Code: </strong></p>
		<textarea class="input --textarea css-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.cssCode_inital %></textarea>
	<%if(taskinstance !== null) { %>
		<p class="mt-20"><strong>Hierachie:</strong></p>
		<%if(section.length) { %>
				<ol class="with-out-decimal --pl">
					<% for(let i = 0; i<section.length; i++) { %>
						<li>
							<strong><%= section[i].section_number %>. Section</strong>
							<a href="<%= section[i].url %>"><%= section[i].name %></a> (<%= section[i].section_inc %>)
						</li>
					<% } %>
				</ol>
		<% } %>
		<ol class="mb-20 with-out-decimal">
			<li>
				<strong><%= taskinstance.taskInstance_number %><%if(taskinstance.taskInstance_number) { %>. <% } %> Taskinstance</strong> <%= taskinstance.name %> (<%= taskinstance.taskinstance_inc %>)
			</li>

			<%if(taskinstance.task !== null && taskinstance.task.length > 0) { %>
				<ol class="with-out-decimal order-list --taskinstance drag-sort-enable" data-listid="<%= taskinstance._id %>">
					<% for(var i = 0; i<taskinstance.task.length; i++) { %>
						<li class="order-list-item" data-listitemid="<%= taskinstance.task[i]._id %>">
							<strong class="object-number"><%= taskinstance.task[i].task_number %></strong><strong>. Task:</strong> 
							<a draggable="true" href="<%= taskinstance.task[i].url %>"><%= taskinstance.task[i].name%></a> 
							<span>(<%= taskinstance.task[i].path_name %><%= taskinstance.task[i].task_inc %>)</span>
						</li>
					<% } %>
				</ol>
			<% } else {%>
				<p>Dieser Taskinstance wurden noch keine Tasks hinzugefügt</p>
			<% } %>
		</ol>
	<% } else { %>
		<p class="mb-20">Diese Instanz hat keine zugehörigen Sections</p>
	<% } %>
	<a class="btn mt-20" href="<%= taskinstance.url%>/update">Update Taskinstance</a>
	<a class="btn mt-20" href="<%= taskinstance.url%>/delete">Delete Taskinstance</a>
</div>
<script src="/js/admin_index.bundle.js"></script>
<script src="/js/admin_codeMirror.bundle.js"></script>