.code-editor {
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 20px; }

#code-editor > p > img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.code-editor > p {
  text-align: left; }

.code-editor > p > img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.code-editor > h1 {
  font-size: 20px; }

.code-editor > h2 {
  font-size: 18px; }

.code-editor > h3 {
  font-size: 16px; }

.code-editor > pre, .ql-editor > pre, pre {
  font-family: Consolas !important;
  font-weight: 300 !important;
  background-color: #2A3E50 !important;
  color: #ebebeb;
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 1.4;
  word-break: normal;
  border-radius: 2px;
  white-space: pre;
  width: 100%;
  margin-bottom: 20px; }

.code-editor > p > code, .code-editor > ul > li > code {
  color: #292929 !important;
  font-size: 13px;
  padding: 2px;
  background-color: #f1f1f1; }

.code-editor > ol {
  list-style: decimal;
  padding-left: 1.5em;
  list-style-position: inside; }

.code-editor > ul {
  padding-left: 1.5em;
  list-style: disc;
  list-style-position: inside; }

.code-editor > .ql-align-center {
  text-align: center; }

.scrolling-container {
  max-height: 500px;
  overflow-y: auto; }

.scrolling-container-height {
  max-height: 500px;
  overflow-y: auto;
  position: relative; }

#editor-container {
  min-height: 100px;
  padding-top: 50px; }

.ql-editor > p > img {
  max-width: 300px !important;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.ql-editor > .ql-align-center {
  text-align: center !important; }

.ql-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 100000; }
