.header-1
	font-size: 60px
	font-weight: 700
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	margin-bottom: 20px

.header-2
	font-size: 20px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	font-weight: 500
	line-height: 1.4
	color: #292929
	user-select: none

.header-3
	font-size: 16px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	font-weight: 600
	line-height: 0
	color: #292929
	flex-shrink: 0
	user-select: none

.white
	color: #fff !important

.text-center
	text-align: center

p, li, td
	font-size: 15px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	line-height: 1.6
	color: #292929
	font-weight: 300
