@import 'base/spacing'
@import 'base/typographie'
@import 'base/variable'


body
	font-family: "Roboto", Avenir, "Helvetica Neue", sans-serif
	color: $darkgrey
	font-variant-ligatures: none
	max-width: 100vw
	width: 100%

.header
	position: relative
	height: 50px
	max-width: 100vw
	width: 100%
	user-select: none
	display: flex
	align-items: center
	font-family: sans-serif
	font-size: 20px
	color: #fff
	padding: 10px
	background: $darkblue 
	display: flex
	&.--big
		height: 106vh
		width: 100%
		background: linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%)
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%)
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

.break 
	width: 100%
	margin-right: auto
	margin-left: auto
	border: 0
	border-top: 1px solid #eee
	&.--dark
		border-color: $darkgrey
	&.--max-1000
		max-width: 960px
		height: 20px

.section-container
	max-width: 1000px
	width: 100%
	margin-right: auto
	margin-left: auto
	padding-left: 20px
	padding-right: 20px

.arrow-down-svg
	position: absolute
	top: 90vh
	cursor: pointer
	width: 40px
	height: 40px
	stroke: currentColor
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
	fill: none
	animation: ArrowJump 2s infinite
	transition: stroke 0.3s
	&:hover
		stroke: #4999CC

@keyframes ArrowJump 
	0%
		margin-top: 0 
	50%
		margin-top: 15px
	100%
		margin-top: 0

.btn
	padding: 10px
	position: relative
	max-height: 35px
	background-color: $darkblue
	font-size: 12px
	color: #fff
	border-radius: 4px
	border: 0
	cursor: pointer
	white-space: nowrap
	font-weight: 500
	outline: none
	display: inline-block
	text-decoration: none
	transition: background-color 0.3s
	&:hover
		background-color: #4999CC
		color: #fff !important
	&.--grey
		background-color: $grey
		color: $darkblue
		&:hover
			background-color: #d6d4d4

	&.--green
		background-color: #417F22
		&:hover
			background-color: #416D22
	&.--red
		background-color: #A7251C
		&:hover
			background-color: #7F1C15
	
		
	&.--icon
		padding: 5px
		background-color: transparent
		&:hover
			background-color: #4999CC

.link
	text-decoration: none
	color: #478ac1
	transition: color 0.3s
	&:hover
		color: $blue

.link_button
	text-decoration: none
	color: #fff
	transition: color 0.3s


.modal
	display: flex
	position: fixed 
	z-index: 1000
	left: 0
	top: 0
	width: 100% 
	height: 100% 
	overflow: auto
	z-index: 100000000000
	opacity: 0
	padding: 20px
	pointer-events: none
	transition: opacity 0.3s
	&.m--active-modal
		opacity: 1
		pointer-events: all

.modal-backdrop
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: rgb(0,0,0) 
	background-color: rgba(0,0,0,0.8) 

.modal-content-wrapper
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%

.modal-content
	position: relative
	background-color: #fff
	max-width: 600px
	max-height: 80vh
	overflow-y: scroll 
	width: 100%
	padding: 30px
	border-radius: 4px

.modal-close-icon
	width: 20px
	height: 20px
	stroke: currentColor
	stroke-width: 1
	stroke-linecap: round
	stroke-linejoin: round
	fill: none
	position: absolute
	right: 10px
	top: 10px
	cursor: pointer

.copyright-wrapper
	display: flex
	justify-content: center
	font-size: 10px
	color: #d2d2d2
	width: 100%
	left: 0
	position: absolute
	bottom: 10px
	& > a
		color: #d2d2d2
		text-decoration: none
		transition: color 0.3s
		&:hover
			color: #a0a0a0


.button-wrapper
	display: flex
	justify-content: center
	padding-right: 20px
	padding-left: 20px
	width: 100%

.switch 
	margin-left: auto
	position: relative
	display: inline-block
	width: 50px
	height: 26px

.switch-input  
	opacity: 0
	&:checked ~ .slider:before 
		transform: translateX(24px)
	&:checked ~ .slider 
		background-color: #2196F3
		
.slider 
	position: absolute
	cursor: pointer
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #ccc
	transition: .4s
	border-radius: 34px
	&:before 
		position: absolute
		content: ""
		height: 18px
		width: 18px
		left: 4px
		bottom: 4px
		background-color: white
		transition: .4s
		border-radius: 50%

.setting-wrapper
	display: flex
	margin-bottom: 20px
	flex-direction: row

.external-link-icon
	width: 8px
	height: 8px
	stroke: #d2d2d2
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
	fill: none
	cursor: pointer

.container-wrapper
	max-width: 1200px
	width: 100%
	padding-right: 20px
	padding-left: 20px
	margin-left: auto
	margin-right: auto
