@import '../base/variable'

.container-admin
	max-width: 1200px
	width: 100%
	margin-left: auto
	margin-right: auto
	padding-left: 20px
	padding-right: 20px
	position: relative

.sidebar-link
	text-decoration: none
	color: $fontgrey
	transition: color 0.3s
	&:hover
		color: #478ac1
	&:active, &:visited
		color: $darkgrey
	&.--active
		font-weight: 500

.container-grid
	width: 100%
	display: grid
	grid-gap: 50px
	position: relative
	grid-template-columns: 150px minmax(250px, 1fr)

.form-group-col-2
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
	grid-column-gap: 40px

.form-group
	display: flex
	flex-direction: column
	position: relative
	width: 100%

.input-label
	position: absolute
	font-size: 14px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	line-height: 1.6
	color: #292929
	font-weight: 300
	margin-bottom: 10px
	left: 10px
	top: 14px
	pointer-events: none
	transition: top 0.3s

.input-label_error
	position: absolute
	top: calc(100% + 5px)
	font-size: 12px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	color: $red
	display: none
	&.--error
		display: block
		& ~ .input 
			border: 1px solid $red


.input
	min-height: 50px
	outline: none
	background-color: #eee
	border: 0
	width: 100%
	padding: 10px
	border-radius: 2px
	font-size: 14px
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	line-height: 1.6
	color: #292929
	font-weight: 300
	left: 10px
	&:focus ~ .input-label, &:not(:placeholder-shown) ~ .input-label
		top: -20px
		font-size: 12px
		& > svg
			width: 12px
			height: 12px
	&.--textarea
		height: 150px
		resize: none
	&.--output + .CodeMirror
		user-select: none

.code-label 
	position: relative
	font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
	line-height: 1.6
	color: #292929
	font-weight: 300
	left: 10px
	font-size: 12px
	cursor: pointer

.checkbox-group
	position: relative
	padding-top: 10px
	padding-bottom: 10px
	width: 100%
	display: flex
	cursor: pointer
	flex-shrink: 0
	height: 35px
	&:last-child > .list-value:after
		border-bottom: 0
	&.--not-in-query
		display: none
	&.--without-break
		& > .list-value:after
			border-bottom: 0

		

.search-icon 
	width: 16px
	height: 16px
	stroke: #000
	margin-right: 5px
	position: relative
	top: 2px
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
	fill: none
	transition: width 0.3s, height 0.3s

.list-value
	position: relative
	width: 100%
	display: inline-block
	&:after
		content: " "
		display: block
		width: 100%
		position: absolute
		top: 25px
		left: 0
		border-bottom: 1px solid #000

.input-list
	max-width: 500px
	width: 100%
	background-color: #eee
	max-height: 200px
	overflow-y: scroll
	border-radius: 4px
	display: flex
	flex-direction: column
	padding-left: 20px
	padding-right: 20px

.detail-list-row
	&.--not-in-query
		display: none
	


.table-cell
	text-align: left
	min-width: 150px
	padding: 10px 40px 
	&.--header
		font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif
		line-height: 1.6
		color: #292929
		font-weight: 500
		font-size: 14px
		padding-bottom: 0
	&:first-child
		padding-left: 0
	&:last-child
		padding-right: 0

.taskinstance-task-wrapper
	background-color: $grey
	padding: 20px
	margin-bottom: 20px
	border-radius: 2px

a
	text-decoration: none
	color: #478ac1
	transition: color 0.3s
	&:hover
		color: $blue

ol
	list-style: decimal 
	padding-left: 1.5em
	list-style-position: inside

code
	font-size: 14px
	white-space: pre-wrap
	word-break: break-all

h4
	margin-top: 10px
	font-size: 15px

.with-out-decimal 
	list-style: none
	& > li
		padding-top: 5px
		padding-bottom: 5px
		list-style: none
	&.--pl
		padding-left: 0px !important


.img 
	display: block
	margin-left: auto
	margin-right: auto
	width: 80%

.searchbar
	max-width: 500px !important
	width: 100%


.order-list
	background-color: $grey
	padding: 0
	border-radius: 4px
	min-width: 500px
	padding: 10px
	padding-bottom: 5px
	&:has(> li)
		padding: 0
	

.order-list-item
	padding: 10px
	position: relative
	background-color: #fff
	color: $darkgrey
	border-radius: 4px
	border: 0
	cursor: pointer
	white-space: nowrap
	font-weight: 500
	outline: none
	text-decoration: none
	transition: background-color 0.3s
	margin-bottom: 10px
	box-shadow: 0px 2px 2px rgba(0,0,0,0.15)
	&.drag-sort-active 
		background: transparent
		color: transparent
		cursor: grab 
		border: 1px solid #446a89
	&.drag-sort-active > a
		background: transparent
		color: transparent
	&.drag-sort-active > ol
		opacity: 0

.loading-screen
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	display: none
	flex-direction: column
	color: #fff
	justify-content: center
	align-items: center
	background-color: rgba(0,0,0,0.8)
	z-index: 1000000000
	&.m--active
		display: flex

.divider
	width: 300px
	height: 5px
	background-color: #f9f9f9
	margin-right: auto
	margin-left: auto
	margin-top: 70px
	margin-bottom: 70px
