.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mr-30 {
  margin-right: 30px; }

.ml-30 {
  margin-left: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mr-40 {
  margin-right: 40px; }

.ml-40 {
  margin-left: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.mr-50 {
  margin-right: 50px; }

.ml-50 {
  margin-left: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.mr-60 {
  margin-right: 60px; }

.ml-60 {
  margin-left: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

.mr-70 {
  margin-right: 70px; }

.ml-70 {
  margin-left: 70px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

.mr-80 {
  margin-right: 80px; }

.ml-80 {
  margin-left: 80px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.mt-90 {
  margin-top: 90px; }

.mb-90 {
  margin-bottom: 90px; }

.mr-90 {
  margin-right: 90px; }

.ml-90 {
  margin-left: 90px; }

.pt-90 {
  padding-top: 90px; }

.pb-90 {
  padding-bottom: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.mr-100 {
  margin-right: 100px; }

.ml-100 {
  margin-left: 100px; }

.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.mt-110 {
  margin-top: 110px; }

.mb-110 {
  margin-bottom: 110px; }

.mr-110 {
  margin-right: 110px; }

.ml-110 {
  margin-left: 110px; }

.pt-110 {
  padding-top: 110px; }

.pb-110 {
  padding-bottom: 110px; }

.mt-120 {
  margin-top: 120px; }

.mb-120 {
  margin-bottom: 120px; }

.mr-120 {
  margin-right: 120px; }

.ml-120 {
  margin-left: 120px; }

.pt-120 {
  padding-top: 120px; }

.pb-120 {
  padding-bottom: 120px; }

.mt-130 {
  margin-top: 130px; }

.mb-130 {
  margin-bottom: 130px; }

.mr-130 {
  margin-right: 130px; }

.ml-130 {
  margin-left: 130px; }

.pt-130 {
  padding-top: 130px; }

.pb-130 {
  padding-bottom: 130px; }

.mt-140 {
  margin-top: 140px; }

.mb-140 {
  margin-bottom: 140px; }

.mr-140 {
  margin-right: 140px; }

.ml-140 {
  margin-left: 140px; }

.pt-140 {
  padding-top: 140px; }

.pb-140 {
  padding-bottom: 140px; }

.mt-150 {
  margin-top: 150px; }

.mb-150 {
  margin-bottom: 150px; }

.mr-150 {
  margin-right: 150px; }

.ml-150 {
  margin-left: 150px; }

.pt-150 {
  padding-top: 150px; }

.pb-150 {
  padding-bottom: 150px; }

.mt-160 {
  margin-top: 160px; }

.mb-160 {
  margin-bottom: 160px; }

.mr-160 {
  margin-right: 160px; }

.ml-160 {
  margin-left: 160px; }

.pt-160 {
  padding-top: 160px; }

.pb-160 {
  padding-bottom: 160px; }

.mt-170 {
  margin-top: 170px; }

.mb-170 {
  margin-bottom: 170px; }

.mr-170 {
  margin-right: 170px; }

.ml-170 {
  margin-left: 170px; }

.pt-170 {
  padding-top: 170px; }

.pb-170 {
  padding-bottom: 170px; }

.mt-180 {
  margin-top: 180px; }

.mb-180 {
  margin-bottom: 180px; }

.mr-180 {
  margin-right: 180px; }

.ml-180 {
  margin-left: 180px; }

.pt-180 {
  padding-top: 180px; }

.pb-180 {
  padding-bottom: 180px; }

.mt-190 {
  margin-top: 190px; }

.mb-190 {
  margin-bottom: 190px; }

.mr-190 {
  margin-right: 190px; }

.ml-190 {
  margin-left: 190px; }

.pt-190 {
  padding-top: 190px; }

.pb-190 {
  padding-bottom: 190px; }

.mt-200 {
  margin-top: 200px; }

.mb-200 {
  margin-bottom: 200px; }

.mr-200 {
  margin-right: 200px; }

.ml-200 {
  margin-left: 200px; }

.pt-200 {
  padding-top: 200px; }

.pb-200 {
  padding-bottom: 200px; }

.mt-210 {
  margin-top: 210px; }

.mb-210 {
  margin-bottom: 210px; }

.mr-210 {
  margin-right: 210px; }

.ml-210 {
  margin-left: 210px; }

.pt-210 {
  padding-top: 210px; }

.pb-210 {
  padding-bottom: 210px; }

.mt-220 {
  margin-top: 220px; }

.mb-220 {
  margin-bottom: 220px; }

.mr-220 {
  margin-right: 220px; }

.ml-220 {
  margin-left: 220px; }

.pt-220 {
  padding-top: 220px; }

.pb-220 {
  padding-bottom: 220px; }

.mt-230 {
  margin-top: 230px; }

.mb-230 {
  margin-bottom: 230px; }

.mr-230 {
  margin-right: 230px; }

.ml-230 {
  margin-left: 230px; }

.pt-230 {
  padding-top: 230px; }

.pb-230 {
  padding-bottom: 230px; }

.mt-240 {
  margin-top: 240px; }

.mb-240 {
  margin-bottom: 240px; }

.mr-240 {
  margin-right: 240px; }

.ml-240 {
  margin-left: 240px; }

.pt-240 {
  padding-top: 240px; }

.pb-240 {
  padding-bottom: 240px; }

.mt-250 {
  margin-top: 250px; }

.mb-250 {
  margin-bottom: 250px; }

.mr-250 {
  margin-right: 250px; }

.ml-250 {
  margin-left: 250px; }

.pt-250 {
  padding-top: 250px; }

.pb-250 {
  padding-bottom: 250px; }

.header-1 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  margin-bottom: 20px; }

.header-2 {
  font-size: 20px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #292929;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.header-3 {
  font-size: 16px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 0;
  color: #292929;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.white {
  color: #fff !important; }

.text-center {
  text-align: center; }

p, li, td {
  font-size: 15px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300; }

body {
  font-family: "Roboto", Avenir, "Helvetica Neue", sans-serif;
  color: #292929;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  max-width: 100vw;
  width: 100%; }

.header {
  position: relative;
  height: 50px;
  max-width: 100vw;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background: #0F1422;
  display: flex; }
  .header.--big {
    height: 106vh;
    width: 100%;
    background: -webkit-linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
    background: -o-linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
    background: linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.break {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-top: 1px solid #eee; }
  .break.--dark {
    border-color: #292929; }
  .break.--max-1000 {
    max-width: 960px;
    height: 20px; }

.section-container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.arrow-down-svg {
  position: absolute;
  top: 90vh;
  cursor: pointer;
  width: 40px;
  height: 40px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  -webkit-animation: ArrowJump 2s infinite;
  animation: ArrowJump 2s infinite;
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s; }
  .arrow-down-svg:hover {
    stroke: #4999CC; }

@-webkit-keyframes ArrowJump {
  0% {
    margin-top: 0; }
  50% {
    margin-top: 15px; }
  100% {
    margin-top: 0; } }

@keyframes ArrowJump {
  0% {
    margin-top: 0; }
  50% {
    margin-top: 15px; }
  100% {
    margin-top: 0; } }

.btn {
  padding: 10px;
  position: relative;
  max-height: 35px;
  background-color: #0F1422;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  outline: none;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .btn:hover {
    background-color: #4999CC;
    color: #fff !important; }
  .btn.--grey {
    background-color: #ebebeb;
    color: #0F1422; }
    .btn.--grey:hover {
      background-color: #d6d4d4; }
  .btn.--green {
    background-color: #417F22; }
    .btn.--green:hover {
      background-color: #416D22; }
  .btn.--red {
    background-color: #A7251C; }
    .btn.--red:hover {
      background-color: #7F1C15; }
  .btn.--icon {
    padding: 5px;
    background-color: transparent; }
    .btn.--icon:hover {
      background-color: #4999CC; }

.link {
  text-decoration: none;
  color: #478ac1;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .link:hover {
    color: #2A3E50; }

.link_button {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100000000000;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .modal.m--active-modal {
    opacity: 1;
    pointer-events: all; }

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.modal-content {
  position: relative;
  background-color: #fff;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
  padding: 30px;
  border-radius: 4px; }

.modal-close-icon {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer; }

.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
  color: #d2d2d2;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 10px; }
  .copyright-wrapper > a {
    color: #d2d2d2;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    .copyright-wrapper > a:hover {
      color: #a0a0a0; }

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%; }

.switch {
  margin-left: auto;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px; }

.switch-input {
  opacity: 0; }
  .switch-input:checked ~ .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px); }
  .switch-input:checked ~ .slider {
    background-color: #2196F3; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 34px; }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 50%; }

.setting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.external-link-icon {
  width: 8px;
  height: 8px;
  stroke: #d2d2d2;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  cursor: pointer; }

.container-wrapper {
  max-width: 1200px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto; }
