.header-text {
  max-width: 650px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff; }

.section-grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: 250px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  -ms-grid-columns: 250px 1fr;
  grid-template-columns: 250px 1fr;
  border-radius: 2px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  text-decoration: none;
  color: #292929; }
  .section-grid-container:hover {
    -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 750px) {
    .section-grid-container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 250px 1fr;
      grid-template-rows: 250px 1fr;
      height: auto; } }

.section-grid__image {
  height: 100%;
  background: -webkit-linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
  background: -o-linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
  background: linear-gradient(45deg, #0d121f 0%, #1b2234 50%, #253459 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section-grid__text-container {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-grid__text-container__headline {
  font-size: 15px;
  margin-bottom: 20px; }

.section-grid__text-container__text {
  color: #5a5b5e; }

.code-icon {
  width: 75px;
  height: 75px;
  stroke: #fff;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  stroke: #292929;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }
