@import '../base/variable'

html
	overflow: hidden
	&[data-debug="true"]
		overflow: auto
body
	overflow: hidden
	[data-debug="true"] &
		overflow: auto

.headeline-wrapper
	background-color: $grey
	position: absolute
	padding-right: 10px
	z-index: 10
	height: 50px
	width: 100%
	display: flex
	grid-area: codeHeadline
	flex-direction: row

.code-editor-header
	height: 100%
	align-self: flex-end
	background-color: $blue
	color: $grey
	font-size: 12px
	font-weight: 300
	min-width: 100px
	display: flex
	justify-content: center
	align-items: center
	margin-right: 10px
	user-select: none

.editor-btn-wrapper
	margin-left: auto
	display: flex
	align-self: center
	flex-direction: row

.down-upload-icon
	width: 18px
	height: 18px
	margin-top: -2px
	stroke: currentColor
	stroke-width: 1
	stroke-linecap: round
	stroke-linejoin: round
	fill: none

.file-import-wrapper
	margin-left: 10px
	position: relative
	overflow: hidden
	display: inline-block
	cursor: pointer
	&:hover > .btn
		background-color: #4999CC


.file-import-wrapper input[type=file] 
	font-size: 100px
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	opacity: 0
	cursor: pointer

.html-css-wrapper
	position: relative
	height: 100%
	max-width: calc(100vw - 60px)
	min-width: 10px !important
	display: grid
	padding-left: 10px
	width: 100%
	grid-area: html_css
	grid-row-gap: 10px
	grid-template-columns: 100%
	grid-template-areas: "html" "css"

.html-css-wrapper-overlay
	&:before
		content: "Bitte wählen Sie eine Aufgabe aus um den Code zu bearbeiten"
		font-size: 14px
		line-height: 25px
		text-align: center
		padding: 10px
		font-weight: 300
		pointer-events: none
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		color: #fff
		z-index: 10000000
		display: flex
		justify-content: center
		align-items: center
		background-color: rgba(0,0,0,0.8)
	&.m--not-active
		&:before
			content: ""
			display: none
			pointer-events: all
	&.m--not-active > * 
		pointer-events: all
	& > *
		pointer-events: none

.section
	position: relative
	width: 100%
	height: 100%
	display: grid
	grid-template-columns: 100%
	grid-template-rows: 50px 1fr
	grid-template-areas: "codeHeadline" "code"
	&.--html
		grid-area: html
		z-index: 140
	&.--css
		grid-area: css
		z-index: 150

.code-box-wrapper
	position: relative
	grid-area: code
	height: 100%
	width: 100%
	z-index: 110
	
//Output
.output
	position: relative
	background-color: #fff
	width: 100%
	height: 100%
	grid-row: 1 / span 2
	padding-left: 10px
	z-index: 160

.output-iframe
	position: relative
	width: 100%
	max-width: 100%
	height: 100%

.size-iframe
	position: absolute
	user-select: none
	top: 10px
	right: 10px
	font-size: 12px
	z-index: 130
	font-family: sans-serif

.error-message-wrapper
	max-width: 100%
	width: 100%
	position: absolute
	bottom: 0
	padding: 10px 10px 10px 0px
	z-index: 100000
	background-color: $darkblue
	display: none
	&.--active
		display: flex

.error-close-icon
	width: 18px
	height: 18px
	margin-top: 
	stroke: $red
	flex-shrink: 0
	stroke-width: 1
	stroke-linecap: round
	stroke-linejoin: round
	fill: none
	position: absolute
	right: 20px
	top: 10px
	cursor: pointer


.error-message
	color: $red
	font-size: 11px
	padding-right: 35px
	padding-left: 10px
	font-family: 'IBM Plex Mono', monospace
	line-height: 1.6
	font-weight: 300
	user-select: none

#tests
	display: none
	[data-debug="true"] &
		display: block
		position: absolute
		right: 0

.task-editor-wrapper ~ pre
	display: none
	[data-debug="true"] &
		display: block


.media-box
	position: absolute
	opacity: 0
	pointer-events: none
	[data-debug="true"] &
		opacity: 1
		pointer-events: all


