@import '../base/variable'
.task-number-wrapper
	position: relative
	display: flex
	flex-direction: column
	flex-shrink: 0
	height: calc(100vh - 50px)
	width: 50px
	grid-area: sidebar
	background-color: $grey

.input-wrapper
	height: 50px
	width: 50px
	position: relative
	background-color: $grey
	border-bottom: 1px solid #000
	display: flex

.sidebar-taskhealine
	padding-top: 10px
	padding-bottom: 10px
	border-bottom: 1px solid #000
	text-align: center
	background-color: #cecece



.task-number
	width: 100%
	cursor: pointer
	height: 100%
	position: relative
	font-size: 20px
	font-family: sans-serif
	text-align: center
	display: flex
	justify-content: center
	align-items: center

.taskInput
	position: absolute
	opacity: 0
	&:checked ~ .task-description-wrapper
		display: block
		pointer-events: all
	&:checked ~ .task-number
		background-color: $darkgrey
		color: #fff

.description-icon
	width: 24px
	height: 24px
	stroke: currentColor
	stroke-width: 1
	stroke-linecap: round
	stroke-linejoin: round
	fill: none