@charset "UTF-8";
html {
  overflow: hidden; }
  html[data-debug="true"] {
    overflow: auto; }

body {
  overflow: hidden; }
  [data-debug="true"] body {
    overflow: auto; }

.headeline-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: #ebebeb;
  position: absolute;
  padding-right: 10px;
  z-index: 10;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: codeHeadline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.code-editor-header {
  height: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #2A3E50;
  color: #ebebeb;
  font-size: 12px;
  font-weight: 300;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.editor-btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.down-upload-icon {
  width: 18px;
  height: 18px;
  margin-top: -2px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.file-import-wrapper {
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer; }
  .file-import-wrapper:hover > .btn {
    background-color: #4999CC; }

.file-import-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

.html-css-wrapper {
  position: relative;
  height: 100%;
  max-width: calc(100vw - 60px);
  min-width: 10px !important;
  display: -ms-grid;
  display: grid;
  padding-left: 10px;
  width: 100%;
  grid-area: html_css;
  grid-row-gap: 10px;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: auto 10px auto;
  grid-template-areas: "html" "css"; }

.html-css-wrapper-overlay:before {
  content: "Bitte wählen Sie eine Aufgabe aus um den Code zu bearbeiten";
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 10000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }

.html-css-wrapper-overlay.m--not-active:before {
  content: "";
  display: none;
  pointer-events: all; }

.html-css-wrapper-overlay.m--not-active > * {
  pointer-events: all; }

.html-css-wrapper-overlay > * {
  pointer-events: none; }

.section {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 50px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "codeHeadline" "code"; }
  .section.--html {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: html;
    z-index: 140; }
  .section.--css {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: css;
    z-index: 150; }

.code-box-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: code;
  height: 100%;
  width: 100%;
  z-index: 110; }

.output {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  padding-left: 10px;
  z-index: 160; }

.output-iframe {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%; }

.size-iframe {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 10px;
  right: 10px;
  font-size: 12px;
  z-index: 130;
  font-family: sans-serif; }

.error-message-wrapper {
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 10px 10px 0px;
  z-index: 100000;
  background-color: #0F1422;
  display: none; }
  .error-message-wrapper.--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.error-close-icon {
  width: 18px;
  height: 18px;
  stroke: #F7465D;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer; }

.error-message {
  color: #F7465D;
  font-size: 11px;
  padding-right: 35px;
  padding-left: 10px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.6;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#tests {
  display: none; }
  [data-debug="true"] #tests {
    display: block;
    position: absolute;
    right: 0; }

.task-editor-wrapper ~ pre {
  display: none; }
  [data-debug="true"] .task-editor-wrapper ~ pre {
    display: block; }

.media-box {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
  [data-debug="true"] .media-box {
    opacity: 1;
    pointer-events: all; }
