.description-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: calc(100vh - 50px);
  font-family: sans-serif;
  line-height: 1.5;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #fff;
  grid-area: description;
  flex-shrink: 0;
  width: 100%;
  max-width: calc(100vw - 60px); }

.description-close-icon {
  position: relative;
  stroke: #292929;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.description-scroll-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .description-scroll-wrapper.--not-active {
    display: none; }

.description-text-wrapper {
  max-width: 100%;
  width: 100%;
  padding: 20px; }

.task {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  -ms-grid-rows: 50px 10px 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 10px;
  grid-template-areas: "taskHeadline taskHeadline" "input taskDescription";
  z-index: 10; }
  .task.--not-solved {
    pointer-events: none; }
    .task.--not-solved:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ebebeb;
      opacity: 0.5;
      z-index: 1000; }

.task-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.taskInput:checked + label > .description-svg {
  fill: #fff; }

.task-headline-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: taskHeadline;
  background-color: #ebebeb;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 20px;
  z-index: 10;
  padding-right: 20px;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.task-description {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: taskDescription;
  width: 100%;
  padding: 0px 10px 10px 0; }

.quill-format > p {
  text-align: left; }

.quill-format > p > img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.quill-format > h1 {
  font-size: 20px; }

.quill-format > h2 {
  font-size: 18px; }

.quill-format > h3 {
  font-size: 16px; }

.quill-format > .ql-align-center {
  text-align: center !important; }

.quill-format > pre {
  font-family: Consolas;
  font-weight: 300;
  background-color: #2A3E50;
  color: #ebebeb;
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 2px;
  white-space: pre-wrap;
  width: 100%;
  margin-bottom: 20px; }

.quill-format > p > code, .quill-format > ul > li > code {
  color: #292929 !important;
  font-family: Consolas;
  font-weight: 300;
  font-size: 13px;
  background-color: #f1f1f1;
  white-space: pre-wrap;
  word-break: break-all; }

.quill-format > ol {
  list-style: decimal;
  padding-left: 1.5em;
  list-style-position: inside; }

.quill-format > ul {
  padding-left: 1.5em;
  list-style: disc;
  list-style-position: inside; }

.task-solved-wrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: input;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.task-solved {
  position: absolute;
  padding-top: 10px;
  pointer-events: none;
  opacity: 0; }
  .task-solved:checked + label {
    background-position: -50px 0px; }
  .task-solved.--error + label {
    background-position: -25px 0px; }

.task-solved-label {
  position: relative;
  width: 25px;
  height: 25px;
  top: 5px;
  background-image: url("../../img/input_label.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px; }

.runbutton-wrapper {
  margin-left: auto;
  position: relative; }

.run-test {
  cursor: pointer;
  pointer-events: all; }
  .--not-solved .run-test {
    pointer-events: none; }
