.task-editor-wrapper {
  position: relative;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px (calc((100% - 50px) / 3))[3];
  grid-template-columns: 50px repeat(3, calc((100% - 50px) / 3));
  -webkit-transition: grid-template-columns 0.3s;
  -o-transition: grid-template-columns 0.3s;
  transition: grid-template-columns 0.3s;
  transition: grid-template-columns 0.3s, -ms-grid-columns 0.3s;
  -ms-grid-rows: (calc(50vh - 25px))[2];
  grid-template-rows: repeat(2, calc(50vh - 25px));
  grid-template-areas: "sidebar description html_css output" "sidebar description html_css output"; }

.code-saved-wrapper {
  position: absolute;
  top: -2px;
  border-radius: 4px;
  font-family: sans-serif;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  z-index: 10000000;
  color: #fff;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #41C3BD;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .code-saved-wrapper.--saved {
    opacity: 1; }
  .code-saved-wrapper.--error {
    background-color: #F7465D; }

.header-btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.set-inital-grid {
  height: 20px;
  width: 38px;
  cursor: pointer;
  background-image: url("../../img/inital_grid.png");
  background-repeat: no-repeat;
  background-size: contain;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.save {
  margin-left: 10px; }
  .save:hover ~ .headline-icon-hover.--save {
    opacity: 1; }

.grid:hover ~ .headline-icon-hover.--grid {
  opacity: 1; }

.save-icon {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.code {
  margin-right: 10px; }
  [data-cssreset="true"] .code:hover ~ .headline-icon-hover.--code-active {
    opacity: 1;
    pointer-events: all; }
  [data-cssreset="true"] .code:hover ~ .headline-icon-hover.--code {
    opacity: 0;
    pointer-events: all; }
  .code:hover ~ .headline-icon-hover.--code {
    opacity: 1;
    pointer-events: all; }
  .code:hover ~ .headline-icon-hover.--code-active {
    opacity: 0; }

.code-icon {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }
  [data-cssreset="true"] .code-icon {
    stroke: #ffd70f; }

.debug-icon {
  width: 25px;
  height: 25px;
  stroke: #ffd70f;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: none;
  margin-top: 5px;
  margin-right: 14px;
  cursor: pointer; }
  [data-debug="true"] .debug-icon {
    display: block; }
  .debug-icon:hover ~ .headline-icon-hover.--debug {
    opacity: 1; }

.headline-icon-hover {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
  z-index: 10000000;
  font-size: 12px;
  background-color: #2A3E50;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  right: 10px;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.break-horizontal {
  height: 35px;
  width: 1px;
  margin-left: 10px;
  background-color: #fff; }

.reset {
  margin-right: 10px; }
  .reset:hover ~ .headline-icon-hover.--reset {
    opacity: 1; }

.grid-icon {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.reset-icon {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

.header {
  position: relative;
  height: 50px;
  max-width: 100vw;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: #0F1422;
  display: flex; }

.resize {
  position: absolute;
  cursor: pointer;
  z-index: 100000000;
  background-color: #0F1422; }
  .resize.--vertical {
    height: 100%;
    width: 10px;
    top: 0;
    left: 100%; }
    .resize.--vertical.--active {
      cursor: col-resize; }
  .resize.--horizontal {
    height: 10px;
    width: 100%;
    top: 100%; }
    .resize.--horizontal.--active {
      cursor: row-resize; }
